body {
  font-family: "Lato", sans-serif;
  margin: 0;
  min-height: 100vh;

  background: #111;



}

.header {
  height: 72px;
  background: #111;
  color: white;
  
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 32px;
  padding: 0 16px;
  
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: .5s;
}

.openbtn:hover {
  background-color: #444;

  border-radius: 75px;

}

#main {
  transition: margin-left .5s;
  padding: 16px;
  
}


 #intro, #goals, #jobDescription, #acknowledgements {
  background-color: #1F2937;
  color: white;

  display: flex;
  flex-wrap: wrap;


  padding: 0 50px 25px 50px;

}



#goals {
  margin-top: -30px;
}

.titleBox {
  background-color: #1F2937;
  color: white;

  display: flex;
  justify-content: center;

}

#jobDescription .imagePanel{
  margin-left: -20px;
}
#jobDescription .textBox {
  margin-left: 50px;
}

#sonovaLogo {
  padding-left: 20px;
  padding-top: 20px;
  max-width: 400px;

}

.textBox {
  flex: 1 2 700px;
  max-width: 100%;

}


.imagePanel {
  flex: 1 1 700px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.break {
  flex-basis: 100%;
  height: 0;
}


#jobDescription .imagePanel {
  padding-top: 10px;
  flex: 1 1 350px;

}
#intro .imagePanel #office {
  height: 350px;
  max-width: 90%;

  
}

#hearingAids {
  height: 350px;
  max-width: 100%;
}

/* misc. elements */

p {
  line-height: 1.5;
  font-size: 20px;
}


#office, #hearingAids {
  border: 5px solid #555;
}

img {
  padding: 5px;
}

h1 {
  text-transform: uppercase;
  font-family: Montserrat,Helvetica,arial,sans-serif;
  font-size: 3.75rem;
  line-height: 1;
  letter-spacing: 0;

}

h2 {
  margin: 0 auto;
  font-family: Montserrat,Helvetica,arial,sans-serif;
  font-size: 3.6rem;
  line-height: 1;
  letter-spacing: 0;

}


.imagePanel p {
  color: rgb(170, 158, 158);
  font-size: 16px;
}

.scroller {

  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

