body {
  font-family: "Lato", sans-serif;
  margin: 0;
  min-height: 100vh;

  background: #111;



}

.header {
  height: 72px;
  background: #111;
  color: white;
  
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 32px;
  padding: 0 16px;
  
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;


  
}

#intro {
  background-color: #1F2937;
  color: white;

  display: flex;
  align-items: center;

  padding-left: 20px;
  padding-bottom: 25px;

}


#office {
  height: 400px;
  max-width: 700px;
  flex: 1 1 auto;
  
}

/* misc. elements */

p {
  line-height: 1.5;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 800;

}

h2 {
  font-weight: 800;
  margin: 0 auto;


}

.scroller {

  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

